.body,
html {
  max-width: 100%;
  /* width: 100vw; */
  background-color: black;
}

.app-container {
  /* height: 3000px; */
  max-width: 100%;
  /* margin: auto; */
  background-color: black;
  /* position: relative; */
}

@media only screen and (max-width: 1024px) {
  .app-container {
    max-width: 100%;
  }
}
