.cart-page {
  max-width: 100%;
  height: 590px;
}

@media only screen and (max-width: 1024px) {
  .cart-page {
    height: 675px;
  }
}
.cart-top {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  padding-right: 10px;
  padding-bottom: 17px;
}

.cart-orders {
  height: 100%;
  width: 70%;
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
  .cart-top {
    display: flex;
    flex-direction: column;
  }
  .cart-orders {
    width: 100%;
  }
}
.cart-total-container {
  height: 100%;
  width: 31%;
  background-color: rgb(0, 0, 0);
  border: solid thin rgb(40, 40, 40);
  /* margin-top: 5px; */
  /* border: solid red; */
}

.cart-total-subcontainer {
  height: 100%;
  width: 70%;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 40px;
}

@media only screen and (max-width: 768px) {
  .cart-total-container {
    width: 100%;
    height: 920px;
  }

  .cart-total-subcontainer {
    height: 50%;
    width: 50%;
    border: solid thin rgb(40, 40, 40);
    padding: 20px;
  }
}
.cart-total-subcontainer div {
  height: 35px;
  width: 100%;
  /* background-color: rgb(59, 59, 59); */
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-size: 0.9rem;
  /* font-weight: bold; */
  color: rgb(219, 219, 219);
  display: flex;
  justify-content: space-between;
  color: rgb(147, 147, 147);
}

.cart-tax {
  /* border-bottom: solid thin lightgrey; */
}

.cart-line {
  width: 100%;
  /* background-color: rgb(84, 84, 84);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

.cart-total {
  margin-top: 2rem;
  border: solid thin rgb(105, 82, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.cart-total span {
  font-size: large;
  color: rgb(185, 144, 11);
}

.savings {
  background-color: rgb(5, 56, 9);
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: solid thin rgb(105, 82, 8);
}

.savings span {
  color: rgb(188, 188, 188);
}
.open-savings {
  opacity: 1;
  transition: opacity 600ms ease-in-out, height 600ms ease-in-out;
  z-index: 1;
  height: 100%;
}

.close-savings {
  opacity: 0;
  transition: opacity 20ms ease-in-out, height 20ms ease-in-out;
  height: 0;
  /* z-index: -10; */
}

.cart-promo-code {
  margin-top: 50px;
}

.cart-promo-code form {
  width: 100%;
  position: relative;
}

.cart-promo-code input {
  border: none;
  background-color: rgb(166, 166, 166);
  height: 100%;
  width: 100%;
  padding-left: 10px;
  color: rgb(88, 88, 88);
  border-radius: 5px;
}

.promo-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  border: none;
  background-color: lightgrey;
  color: rgb(36, 36, 36);
  cursor: pointer;
  background-color: rgb(129, 126, 120);
  border-radius: 0 5px 5px 0;
}

.cart-promo-code input:disabled,
.promo-btn:disabled {
  background-color: rgb(54, 54, 54);
}

.cart-checkout {
  background-color: lightgrey;
}

.cart-checkout {
  height: 2rem;
  width: 175px;
  background-color: rgb(228, 182, 32);
  margin: auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  color: rgb(36, 36, 36);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.amount-txt {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(147, 147, 147);
}

/* .cart-bottom {
  width: 100%;
  height: 20%;
  background-color: rgb(10, 10, 10);
  margin-top: 20px;
} */

.checkout-btns {
  /* border: solid red; */
  margin-bottom: 20px;
}
