.cart-orders-subcontainer {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding-left: 10px;
  /* padding-right: 10px; */
}

.even {
  background-color: rgb(17, 17, 17);
}

.odd {
  background-color: rgb(10, 10, 10);
}

.cart-row {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;
  height: 55px;
}

.cart-row span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: rgb(147, 147, 147);
  margin: auto;
}

.cart-row span:nth-child(1) {
  grid-column: 1 / 5;
}

.cart-row span:nth-child(4) {
  grid-column: 7 / 9;
}

.movie-quant {
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.movie-quant .button {
  height: 20px;
  width: 20px;

  border: none;
  cursor: pointer;
  font-size: large;

  color: rgb(47, 124, 147);
  background-color: transparent;
}

.movie-quant .button:hover {
  color: rgb(49, 150, 181);
}

.header {
  height: 10%;
  background-color: rgba(228, 182, 32, 0.8);
  /* border-bottom: double rgb(99, 0, 0); */
  border: solid thin rgb(40, 40, 40);
  border-bottom: none;
}

.header span {
  border-right: none;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

@media only screen and (max-width: 414px) {
  .cart-row {
    height: 120px;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }
  .header {
    height: 60px;

    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .cart-row span {
    width: max-content;
    margin: 0;
    margin-left: 20px;
  }

  .movie-quant {
    /* border: solid red; */
    position: absolute;
    bottom: 24px;
    left: 60px;
  }

  .movie-quant span {
    margin: 0;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 414px) {
  .order-simple-bar {
    border: solid red;
    width: 300px;
  }
  .simple-fav .cart-row {
    height: 60px;
  }
}

.header span:nth-child(1) {
  /* border: solid red; */
  margin-left: 15px;
}

.delete-item {
  position: absolute;
  top: 15px;
  right: 20px;
  height: 25px;
  width: 25px;
}

.delete-item .button {
  height: 100%;
  width: 100%;
  color: rgb(147, 47, 47);
  cursor: pointer;
}

.delete-item .button:hover {
  color: rgb(195, 50, 50);
}

.cart-row .cart-movie-title {
  margin: 0;
  margin-top: 20px;
  margin-left: 15px;
}

.simple-bar {
  border: solid thin rgb(40, 40, 40);
  height: 458px;
  z-index: 0;
}

@media only screen and (max-width: 1024px) {
  .simple-bar {
    height: 535px;
  }
}

@media only screen and (max-width: 768px) {
  .simple-bar {
    height: 790px;
  }
}

.simplebar-scrollbar {
  position: absolute;
  content: '';
  background: rgb(27, 27, 27);
  border-radius: 7px;
  left: 2px;
  right: 2px;
  /* opacity: 0; */
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar:before {
  background-color: rgb(27, 27, 27);
}

.cart-row span.fav-title {
  grid-column: 1 / 9;
}
