.cart-orders-subcontainer {
  /* margin-top: 30px; */
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 65px);
  /* gap: 10px; */
  grid-auto-rows: 65px;
  overflow: auto;
  /* border-left: solid 5px black; */
}

.even {
  background-color: transparent;
}

.odd {
  background-color: transparent;
}

.even:hover {
  background-color: rgb(19, 0, 0);
}

.odd:hover {
  background-color: rgb(19, 0, 0);
}
.cart-row {
  /* background-color: rgb(56, 56, 56); */
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* border-bottom: double rgb(123, 0, 0); */
  position: relative;
}

.cart-row span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: rgb(147, 147, 147);
  margin: auto;
}

.cart-row span:nth-child(1) {
  grid-column: 1 / 5;
}

.cart-row span:nth-child(4) {
  grid-column: 7 / 9;
}

.header {
  background-color: rgb(0, 0, 0);
  /* border-bottom: double rgb(99, 0, 0); */
}

.header span {
  border-right: none;
  color: rgb(182, 182, 182);
}
.header span:nth-child(1) {
  /* border: solid red; */
  margin-left: 15px;
}
.movie-quant {
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.movie-quant .button {
  height: 20px;
  width: 20px;

  border: none;
  cursor: pointer;
  font-size: large;

  color: rgb(47, 124, 147);
  background-color: transparent;
}

.movie-quant .button:hover {
  color: rgb(49, 150, 181);
}

.delete-item {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25px;
  width: 25px;
}

.delete-item .button {
  height: 100%;
  width: 100%;
  color: rgb(147, 47, 47);
  cursor: pointer;
}

.delete-item .button:hover {
  color: rgb(195, 50, 50);
}
.cart-row .cart-movie-title {
  margin: 0;
  margin-top: 20px;
  margin-left: 15px;
}
