.cart-page {
  width: 100%;
  height: 1000px;
}

.cart-top {
  width: 100%;
  height: 70%;
  margin-top: 3rem;
}

.cart-orders {
  height: 100%;
  width: 70%;
  background-color: rgb(18, 18, 18);
}

.cart-total-container {
  height: 100%;
  width: 31%;
  background-color: rgb(18, 18, 18);
}

.cart-total-subcontainer {
  height: 100%;
  width: 70%;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 40px;
}

.cart-total-subcontainer div {
  height: 35px;
  width: 100%;
  /* background-color: rgb(59, 59, 59); */
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  /* font-weight: bold; */
  color: rgb(219, 219, 219);
  display: flex;
  justify-content: space-between;
  color: rgb(147, 147, 147);
}

.cart-tax {
  /* border-bottom: solid thin lightgrey; */
}

.cart-line {
  width: 100%;
  /* background-color: rgb(84, 84, 84);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

.cart-total {
  margin-top: 2rem;
}

.cart-promo-code {
  margin-top: 50px;
}

.cart-promo-code form {
  width: 100%;
  position: relative;
}

.cart-promo-code input {
  border: none;
  background-color: rgb(166, 166, 166);
  height: 100%;
  width: 100%;
  padding-left: 10px;
  color: rgb(88, 88, 88);
  border-radius: 5px;
}

.promo-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  border: none;
  background-color: lightgrey;
  color: rgb(36, 36, 36);
  cursor: pointer;
  background-color: rgb(47, 124, 147);
  border-radius: 0 5px 5px 0;
}

.cart-checkout {
  background-color: lightgrey;
}

.cart-checkout {
  height: 2rem;
  width: 175px;
  background-color: rgb(47, 124, 147);
  /* margin: auto; */
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  color: rgb(36, 36, 36);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.amount-txt {
  font-weight: 400;
  font-size: 1rem;
  color: rgb(147, 147, 147);
}

.cart-bottom {
  width: 100%;
  height: 30%;
  background-color: rgb(57, 57, 57);
}
