.footer {
  height: 15rem;
  width: 100%;
  background-color: rgb(30, 30, 30);
  justify-content: space-between;
  border-top: solid thin rgb(69, 69, 69);
}

.footer section {
  height: 100%;
  width: 50%;
  font-family: sans-serif;
  text-decoration: none;
}

.footer section:nth-child(1),
.footer section:nth-child(2) {
  border-right: solid thin rgb(50, 50, 50);
  color: rgb(120, 120, 120);
  padding: 2rem;
  gap: 8px;
}

.footer section:nth-child(1) header,
.footer section:nth-child(2) header,
.footer section:nth-child(3) div header {
  margin-bottom: 1rem;
  color: rgb(13, 208, 248);
  font-size: 1.5rem;
  font-weight: bold;
}

.footer section:nth-child(3) div {
  padding: 2rem;
  height: 100%;
  width: 100%;
  background-color: rgb(30, 30, 30);
  color: rgb(142, 142, 142);
  gap: 8px;
}

.right-footer {
  gap: 8px;
}
