.sign-up-page {
  height: 100vh;
  width: 100%;
  background-color: rgb(39, 39, 39);
  font-family: sans-serif;
}

.form-aside {
  height: 70%;
  width: 30%;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay span:nth-child(1) {
  font-size: 3rem;
  width: 40%;
}

.form-container {
  height: 70%;
  width: 40%;
}

.form-container form {
  height: 70%;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(28, 28, 28);
}

.form-container span {
  height: 15%;
  /* background-color: rgb(28, 28, 28); */
  width: 100%;
}

.form-container form label {
  font-size: 1.2rem;
  width: 70%;
  color: lightgrey;
  font-weight: 100;
}

.form-container form input {
  height: 8%;
  width: 70%;
  background-color: rgb(74, 74, 74);
  border: none;
}

.form-container form input:focus {
  background-color: rgb(158, 158, 158);
}

.form-container form button {
  height: 15%;
  width: 40%;
  border: none;
  cursor: pointer;
  background: transparent;
  border: solid thin rgb(7, 158, 40);
  color: rgb(7, 158, 40);
  font-size: 1.5rem;
  margin-top: 2rem;
  border-radius: 20px;
}

.sign-up {
  background-color: rgb(2, 96, 22);
  font-size: 3rem;
  color: lightgrey;
}

.already-member {
  font-size: 1.5rem;
  color: lightgrey;
  font-weight: 100;
  background-color: rgb(28, 28, 28);
}

.bold {
  color: rgb(7, 158, 40);
  margin-left: 10px;
}

.form-container span:nth-child(2) {
  color: rgb(158, 158, 158);
  width: 100%;
  padding: 0 200px 0 93px;
  height: max-content;
  font-size: 0.85rem;
  font-family: sans-serif;
  line-height: 1.2rem;
  font-weight: 100;
  background-color: rgb(28, 28, 28);
  padding-top: 30px;
}
