.hero {
  height: 600px;
  width: 100%;
  display: flex;
  font-family: 'CrimsonPro', sans-serif;
  position: relative;
}

.hero-image {
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.hero-image span {
  position: absolute;
  color: rgb(202, 202, 202);
  padding: 0 0 25px 25px;
  font-size: 1.2rem;
  bottom: 0;
  left: 0;
  font-weight: 100;
}

.carousel-btn {
  height: 100%;
  width: 4rem;
  position: absolute;
  border: none;
  background: transparent;
  color: rgb(125, 63, 1);
  font-size: 3rem;
  cursor: pointer;
}

.carousel-btn-left {
  left: 0;
}

.carousel-btn-right {
  right: 0;
}

.carousel-btn:hover {
  color: rgb(188, 94, 0);
  background: rgba(0, 0, 0, 0.4);
}
