.movies-container {
  height: 82%;
  background-color: rgb(52, 52, 52);
}

.movies-sub-container {
  height: 93%;
  width: 90%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  gap: 4rem;
}

.page-btns {
  gap: 1rem;
}

.page-btns button {
  background-color: rgb(120, 120, 120);
}
