.movies-container {
  height: 1800px;
  background-color: rgb(52, 52, 52);
  overflow: auto;
  justify-content: flex-end;
}

.movies-sub-container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  gap: 4rem;
  margin: auto;
}

.page-btns {
  gap: 2rem;
  height: 100px;
  background-color: rgb(40, 40, 40);
}

.page-btns button {
  border: solid thin lightgrey;
  background: transparent;
  margin: 0;
}
