@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

.movies-container {
  height: 82%;
  background-color: rgb(52, 52, 52);
}

.movies-sub-container {
  height: 93%;
  width: 90%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  gap: 4rem;
}

.movie-card {
  height: 20rem;
  width: 12rem;
  background-color: rgb(120, 16, 16);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.movie-image {
  height: 15rem;
  width: 100%;
  background-size: cover;
}

.movie-card span {
  height: 2rem;
  width: 100%;
  background-color: rgb(147, 47, 47);
  text-align: center;
  color: rgb(159, 159, 159);
  margin: 0 auto 0 auto;
  font-family: 'Crimson Pro', serif;
  font-size: 1.5rem;
}

.movie-card button {
  height: 2rem;
  width: 7rem;
  border: none;
  margin: auto;
  background-color: rgb(178, 0, 0);
  color: white;
}

.movie-card button:hover {
  background-color: rgb(195, 0, 0);
  cursor: pointer;
}
