.movies-container {
  height: max-content;
  background-color: rgb(57, 57, 57);
  overflow: visible;
  justify-content: flex-end;
  padding-top: 50px;
  padding-bottom: 100px;
  /* border-top: solid thin rgb(214, 12, 12); */
  /* border-bottom: solid rgba(0, 9, 32); */
}

.movies-sub-container {
  height: max-content;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  gap: 4rem;
  margin: auto;
}

.page-btns {
  gap: 2rem;
  height: 100px;
  background-color: rgb(43, 43, 43);
  border-top: solid rgb(55, 55, 55);
}

.page-btns button {
  height: 2rem;
  width: 2rem;
  /* border: solid thin rgba(169, 169, 169, 0.5); */
  background: transparent;
  margin: 0;
  color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
  transition-duration: 100ms;
  position: relative;
  border: none;
}

.page-btns button:hover {
  background: transparent;
}

.page-btns button:nth-child(1) {
  padding-left: 20px;
}

.page-btns button:nth-child(2) {
  padding-right: 20px;
}

.prev-page-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: rgba(158, 14, 14, 0.5); */
  color: rgba(159, 159, 159, 0.5);
  transition-duration: 100ms ease-in-out;
}

.next-page-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  /* background-color: rgba(127, 127, 127, 0.5); */
  color: rgba(159, 159, 159, 0.5);
  transition: 100ms ease-in-out;
}

.page-btns button:hover .prev-page-icon {
  color: rgb(255, 76, 27);
  transition: 200ms ease-in-out;
}

.page-btns button:hover .next-page-icon {
  color: rgb(255, 76, 27);
  transition: 200ms ease-in-out;
}
