.navbar {
  height: 3rem;
  width: 80vw;
  background-color: rgb(0, 0, 0, 0.9);
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  /* overflow: hidden; */
  position: fixed;
  z-index: 10;
}

/* .nav-link {
  height: 70%;
  width: 5rem;
} */

.nav-link {
  height: 100%;
  text-decoration: none;
}

.nav-btn {
  height: 70%;
  width: 5rem;
  background-color: transparent;
  border: solid thin rgb(197, 28, 28);
  color: white;
  cursor: pointer;
  border-radius: 1px;
  transition: background-color 200ms ease-in-out;
}

.login-btn {
  background-color: transparent;
  border: solid thin rgb(69, 216, 157);
  border-radius: 1px;
}

.nav-btn:hover {
  background-color: rgb(120, 16, 16);
}

.login-btn:hover {
  background-color: rgb(47, 147, 107);
}
.cart {
  height: 3rem;
  width: 3rem;
  border: none;
  background-color: rgb(178, 0, 0);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
}

.movie-go-title {
  font-size: 2rem;
  font-weight: 100;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(47, 147, 107);
  margin: 5px 0 auto 1rem;
  text-decoration: none;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  height: 40%;
  width: 100%;
  background-color: rgb(178, 0, 0);
  color: rgb(255, 255, 255);
  /* border-radius: ; */
}

.login-btn-ative {
  background-color: rgb(47, 147, 107);
}

.sign-up-btn-active {
  background-color: rgb(120, 16, 16);
}
