@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: rgb(18, 18, 19);
}
.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 2rem;
  width: 7rem;
  border: none;
  margin: auto;
  background-color: rgb(178, 0, 0);
  color: white;
}

.btn:hover {
  background-color: rgb(195, 0, 0);
  cursor: pointer;
}

.btn:active {
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.4);
}
/* width */
/* ::-webkit-scrollbar {
  width: 7px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #383838;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
} */
