.user-page {
  width: 100%;
  height: 590px;
  background-color: cornflowerblue;
  color: white;
}

.user-page-left {
  height: 100%;
  width: 70%;
  background-color: darkblue;
}

.user-page-right {
  height: 100%;
  width: 31%;
  background-color: rgb(124, 124, 194);
}

.order-history {
  height: 100%;
  width: 100%;
  background-color: rgb(138, 141, 116);
  color: white;
}

.user-info {
  height: 100%;
  width: 100%;
  background-color: rgb(236, 174, 145);
}
