.user-page {
  width: 100%;
  height: 590px;
  /* background-color: cornflowerblue; */
}

.user-page-left {
  height: 100%;
  width: 70%;
  justify-content: flex-start;
}

.user-page-right {
  height: 100%;
  width: 31%;
  background-color: rgb(124, 124, 194);
}

.order-history {
  height: 100%;
  width: 100%;
  /* border: solid red; */
}

.user-info {
  height: 100%;
  width: 100%;
  background-color: rgb(236, 174, 145);
}

.order-simple-bar {
  height: 458px;
}
