.user-page {
  width: 100%;
  height: 590px;
  justify-content: space-between;
  /* background-color: cornflowerblue; */
}

.user-page-left {
  height: 100%;
  width: 70%;
  justify-content: flex-start;
  /* border: solid red; */
}

.user-page-right {
  height: 100%;
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .user-page-left {
    width: 100%;
  }
}

.history-btn-container {
  margin-left: 10px;
  gap: 10px;
}

.fav-menu-btn,
.history-menu-btn {
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.fav-menu-btn:active,
.history-menu-btn:active {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: rgb(187, 187, 187);
}
.fav-menu-btn {
  height: 30px;
  width: 50px;
  background-color: rgb(214, 24, 24);
  color: rgb(206, 206, 206);
  border-radius: 20px;
}

.history-menu-btn {
  height: 30px;
  width: 80px;
  border-radius: 20px;
  background-color: rgb(36, 146, 36);
  color: rgb(211, 211, 211);
}

.cart-btn-one {
  width: 70px;
  background-color: rgb(107, 144, 51);
}

.cart-btn-two {
  width: 90px;
  background-color: rgb(228, 161, 38);
  color: rgb(36, 2, 2);
}
.order-history {
  height: 100%;
  width: 100%;
  /* border: solid red; */
}

.user-info {
  height: 100%;
  width: 100%;
  background-color: rgb(236, 174, 145);
}

.order-simple-bar {
  height: 458px;
}

@media only screen and (max-width: 1024px) {
  .order-simple-bar {
    height: 540px;
  }
}

@media only screen and (max-width: 768px) {
  .order-simple-bar {
    height: 795px;
  }
}
/* height: 540px; */
.header span:nth-child(4) {
  grid-column: 7 / 8;
}

.header span:nth-child(5) {
  grid-column: 8 / 9;
}

.cart-row span:nth-child(4) {
  grid-column: 7 / 8;
}

.cart-row .history-date {
  font-size: 0.8rem;
}

.history-movie-title {
  position: relative;
}

/* .cart-row .fav-title {
  grid-column: 1 / 9;
} */

.buy-again {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: rgb(12, 125, 18);
  color: rgb(199, 199, 199);
  cursor: pointer;
  border-radius: 50%;
}

.fav-header {
  background-color: rgb(183, 68, 33);
}

.fav-header span {
  color: white;
  font-weight: 400;
}

.history header {
  background-color: rgb(40, 127, 9);
}

.history-title {
  padding: 0;
}
